@use "../generalStyles/_variables" as v;

.container {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(
        to right bottom,
        #fff 50%,
        v.$color-orange5 50%
      );

    .contentContainer {
        margin: 0 auto;
        width: 80%;
        display: flex;

        .handImageContainer {
            background-image: url('../images/hand.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .buttonContainer {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        
            div {
                display: flex;
                flex-direction: column;
            }

            .subText {
                color: v.$color-Black40;
            }

            .submitButton {
                width: 300px;
                height: 64px;
                color: #fff;
                background-color: v.$color-orange100;
                border-radius: 10px;
            }

            .submitButton:hover {
                background-color: v.$color-orange80;
            }

            .submitButton:visited {
                background-color: v.$color-orange120;
            }
        }
    }
}

@media only screen and (min-width:568px) {
  .contentContainer {
    flex-direction:row;

    .handImageContainer, .buttonContainer {
            width: 45%;
            height: 500px;
    }

    .mainText {
        font-size: 56px;
        font-weight: 600;
    }

    .subText {
        font-size: 32px;
        font-weight: 600;
    }
  }
}

@media only screen and (max-width:568px) {
  .contentContainer {
        flex-direction: column;
        justify-content: space-between;

    .handImageContainer {
        width: 100%;
        height: 288px;
    }

    .buttonContainer {
        width: 100%;
        height: 100px;
    }

    .mainText {
        font-size: 32px;
        font-weight: 600;
    }

    .subText {
        font-size: 20px;
        font-weight: 600;
    }
  }
}

